{apps, [hsn_app]}.

{erl_opts, [debug_info]}.

{deps, [
    %% Add dependencies here, e.g.:
    %% {cowboy, "2.9.0"} 
]}.
{profiles, [
    {prod, [
        {relx, [
            {release, {hsn_app, "0.1.0"}, [hsn_app, sasl]},
            {mode, prod},
            {include_erts, true},
            {include_src, false},
            {debug_info, strip}
        ]}
    ]}
]}.

{shell, [
  %% {config, "config/sys.config"},
  {apps, [hsn_app]}
]}.
